.navbar-baoyun {
  background: white no-repeat right top;
  height: 50px;
  border: 0;
}

.container {
  /*width:980px;*/

}

.col-md-6{
  width:100%;
}

#navbar .navbar-nav{
  float:right;
}
.navbar-brand {
  padding: 0;
}

.carousel-indicators li{
  border-radius: 0;
  width: 46px;
  height: 6px;
  background: #fff;
  border: 0;
  margin: 1px 10px;
}
.carousel-indicators .active{
  width: 46px;
  height: 6px;
  background: #ffd900;
  margin: 1px 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #00afed;
  background: none;
}

/*大屏幕*/
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    position: absolute;
    left: 30%;
    font-size: 60px;
    color: #ffd900;
  }

  .collapse-baoyun {
    margin-top: 18px;
  }

  .collapse-baoyun .nav > li > a {
    padding: 0;
    min-width: 80px;
  }

  .collapse-baoyun .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .collapse-baoyun .navbar-nav > li > a small {
    display: block;
  }

  /* .carousel-indicators {
     bottom: 0;
   }*/
}

.img-responsive {
  width: 100%;
}

.carousel-baoyun {
  margin-top: -66px;
  margin-bottom: 40px;
}

.carousel-bottom {
  height: 55px;
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  z-index: 10;
}

.gs {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.gsjs {
  /*margin-right: 10%;*/
  /*text-indent: -5em;*/
}

.gs-js-img {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.gs-js-img img {
  width: 100%;
  height: auto;
}

.gs-bz {
  width: 100%;
  height: 25%;
  margin-bottom: 10%;
  margin-left: 20%;
}

.gs-img {
  margin-left: 25%;
  width: 100%;
  height: auto;

}

.gs-img img {
  width: 100%;
  height: auto;
}

.gs-word {
  color: deepskyblue;
}

#cp {
  background-color: #edebec;
}
#cp .col-md-1{
  width:5%;
  margin-top: 15%;

}
#cp .col-md-10{
  width:90%;
}
.jt-img-l {
  width: 100%;
  height: auto;
  margin-top: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jt-img-r {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.zs {
  margin-bottom: 5%;
}


.sj-zs {
  width: 100%;
  height: auto;
}

.sj-zs img {
  width: 100%;
  height: auto;
}

.cp-word {
  text-align: center;
  margin-top: 10%;
}

.tip {
  margin-bottom: 5%;
  margin-top: 10%;
}

.st-img {
  width: 12%;
  height: auto;
}

.dz {
  margin-bottom: 65%;
  margin-top: 15%;

}

.dz-p {
  float: left;
  width: 18%;
  height: auto;
}

.dz-img {
  width: 100%;
  height: auto;
}

.dz-b img {
  margin-top: -20%;
  width: 100%;
  height: auto;
}

.dz-word {
  margin-top: -40%;
  color: white;
}

.sjt {
  float: left;
  width: 2%;
  height: auto;
  margin-top: 16%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bg-image {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.qt {
  margin-top: 30%;
}

.qt-word {
  color: white;
  margin-top: 10%;
  margin-bottom: 20%;
}

.end {
  margin-top: 3%;
}

.end-p {
  margin-left: -1%;
  font-size: larger;
}

.end-word {
  color: #777;
}
/*phone*/
@media (max-width: 768px){
  .navbar>.container .navbar-brand{
    width: 75%;
  }
  .navbar-default .navbar-toggle{
    border-color: transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .navbar-baoyun {
    height: auto;
    background-size: cover;
  }
  .carousel-baoyun {
    margin-top: -46px;
  }
  .carousel-bottom{
    height: 31px;
    background-size: cover;
    bottom: -10px;
  }
  .carousel-indicators{
    bottom: -8px;
  }
  .carousel-indicators li{
    width: 26px;
    height: 4px;
    margin: 1px 6px;
  }
  .carousel-indicators .active {
    width: 26px;
    height: 4px;
    margin: 1px 6px;
  }
  .gs-bz{
    margin-top: 10%;
    margin-left:0;
  }
  body{
    font-size: 10px;

  }
  #cp .col-md-1{
    width:10%;
    margin-top: 50%;
    padding:0;
  }
  #cp .col-md-10{
    width:80%;
    padding:0;
  }
  .cp-sj .col-xs-2{
    width:100%;
  }
  .jt-img-l .jt-img-r{
    width:50%;
  }
  .dz{
    margin-bottom: 40%;
  }
  .sjt img{
    width:100%;
  }
  .bg-image{

  }
  .qt img{
    width:50%;
  }

}